@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open-sans', sans-serif;
  color: hsl(243, 87%, 12%);
  font-size: 1.2em;
}
.container {
  padding: 20px;
  margin: auto;
  max-width: 100%;
  width: 1280px;
  color: hsl(243, 87%, 12%);
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex > div {
  flex: 1;
}
.flex > div:first-child {
  margin-right: 20px;
}
.flex > div:last-child {
  margin-left: 20px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav ul {
  display: flex;
  padding: auto;
  list-style-type: none;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
}
nav ul a {
  font-family: 'Raleway', sans-serif;
  color: hsl(243, 87%, 12%);
}
form {
  display: flex;
}
input {
  border: 1px solid hsl(245, 86%, 6%);
  border-radius: 4px;
  padding: 7px;
  flex: 0.7;
}
button {
  color: white;
  border: hsl(243, 87%, 12%);
  border-radius: 4px;
  padding: 7px;
  flex: 0.3;
  background-color: hsl(224, 93%, 58%);
  margin-left: 15px;
  /* box-shadow: 10px 10px 10px rgb(180, 175, 175); */
}
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
h4 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.light-blue {
  margin-top: 100px;
  background-color: #f8f8fe;
  position: relative;
  padding: auto;
}
.light-blue::before {
  content: '';
  background-image: url('./images/bg-curve-desktop.svg');
  position: absolute;
  background-size: cover;
  top: -60px;
  left: 0;
  height: 80px;
  width: 100%;
}
.green {
  color: #3da08f;
}
.testimonial-box {
  background-color: hsl(0, 0%, 96%);
  padding: 15px;
  width: 80%;
  margin-top: 40px;
  box-shadow: 10px 10px 10px rgb(180, 175, 175);
}
.testimonial-box p {
  letter-spacing: 2px;
  line-height: 1.5rem;
  font-size: 14px;
}
.user-info {
  display: flex;
}
.user-info img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.user-info h3 {
  margin: auto;
  height: 20px;
  margin-left: 10px;
  font-size: 19px;
}
.user-info small {
  font-size: 15px;
  margin-left: 10px;
}
.Blue {
  background-color: rgb(108, 108, 158);
  padding: 30px 0;
  color: white;
}
/* .Blue:first-child{
    color: white;
} */
.Blue form {
  flex-direction: column;
}
.Blue form input {
  width: 400px;
}
.Blue form button {
  margin: 10px 0;
  width: 200px;
}
.Blue .container .flex p {
  color: white;
}
footer {
  color: whitesmoke;
  padding-top: 50px;

  background-color: rgb(4, 4, 51);
}
footer ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 50px;
}
footer ul li {
  margin-bottom: 20px;
}
/* footer p {
  text-align: right;
} */
footer .container .flex-align-start {
  display: flex;
  color: azure;
  justify-content: space-between;
}
.image {
  margin-left: 26px;
}
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
.fab {
  color: #fff;
}
.image {
  filter: brightness(100);
}

/* .footer-icon-4{
    background-color: hsl(0, 71%, 25%);
    display: flex;
  } */

@media screen and (max-width: 568px) {
  /* body {
    text-align: center;
  } */
  nav {
    flex-direction: row;
    margin: 10px 0;
    width: 109px;
  }

  nav ul li {
    margin: 10px 10px;
  }
  /* nav ul{
    margin-right: 20px;
  } */

  .light-blue::before {
    background-image: url('./images/bg-curve-mobile.svg');
    height: 80px;
    background-size: cover;
  }
  .flex {
    flex-direction: column;
    text-align: center;
  }
  .first {
    flex-direction: column;
  }
  .first input {
    width: 250px;
  }
  .first button {
    width: 250px;
    margin-top: 10px;
    margin-left: -3px;
  }
  .first {
    align-items: center;
  }

  .flex > div {
    width: 100%;
  }

  .flex > div:first-child {
    margin-right: 0;
  }

  .flex > div:last-child {
    margin-left: 0;
  }

  .testimonial-box {
    width: 100%;
  }

  .Blue form input {
    flex: 1;
    width: 250px;
  }

  .Blue form button {
    margin: 20px 0;
    width: 250px;
  }
  .Blue form {
    align-items: center;
  }

  .illustration {
    margin-top: 30px;
  }

  .user-info {
    justify-content: center;
  }

  footer ul {
    padding: 0;
    width: 100%;
  }
  footer .container .flex-align-start {
    display: block;
  }
  .footer-icon-2 li {
    color: ivory;
    text-align: left;
    margin-left: 12px;
  }
  .footer-icon-2 ul {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .footer-icon-2 ul li a:link {
    text-decoration: none;
  }
  .flex-mobile-2 li {
    color: ivory;
    text-align: left;
  }
  .flex-mobile-2 ul {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 12px;
  }
  .footer-icon-1 {
    text-align: left;
    color: lavender;
    margin-left: 12px;
  }
  .image {
    margin-left: 26px;
  }
  .flex-mobile-3 ul{
    margin-left: 12px;

  }

  /* .image svg{
    fill:hsl(243, 87%, 12%) ;
  } */
}
